
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Санаторий</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles_03.css" th:href="@{/css/styles_03.css}">

<body>
  <div class="main-background"></div>

  <header class="header fadeIn">
    <form th:method="GET" th:action="@{/registration}">
      <button class="button" type="submit">      
          Регистрация
      </button>
    </form>
    <form th:method="GET" th:action="@{'/logout'}">
      <button class="button" type="submit">
          Выйти
      </button>
    </form>
  </header>
  <section class="section main">
    <div class="inner">
      <h1 class="title">санаторий "зеленый"</h1>
        <p class="title" th:if="${param.successRegistration}" style="color:brown; font-size:30px;">вы были успешно внесены в базу пациентов</p>
      <div class="filler">
        <div class="dot"></div>
      </div>
      <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        <form th:method="GET" th:action="@{/findAllPatients}">
          <button class="button" type="submit">
            Список пациентов
          </button>
        </form>
      </div>
    </div>

    <a href="#staff" class="scroll-marker"></a>
  </section>

  <section class="section staff">
    <div class="inner">
      <h2 id="staff" class="sub-title">Наши сотрудники</h2>

      <div class="staff-list">
        <div class="staff-item">
          <div class="staff-photo"></div>
          <div class="staff-info">
            <div class="staff-name">Кубесов Шаймерден Магруппович</div>
            <div class="staff-post">Главный врач</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
