<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация </title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
    <div class="main-background"></div>
    <div class="card-wrapper">
        <!--/*@thymesVar id="user" type="com.sanreg.sanatorium.entity.UserEntity"*/-->
        <form method="post" class="card" th:action="@{/register/save}" th:object="${user}">
            <input type="text" class="field" th:field = "*{username}" placeholder="Имя пользователя"/>
            <input type="password" class="field" th:field = "*{password}" placeholder="Пароль"/>
            <input type="email" class="field" th:field = "*{email}" placeholder="Электронная почта"/>
            <input type = "submit" class="card-link" value = "Зарегистрироваться"/>
            <div class="aside">
                <div th:if="${param.fail}">Данный пользователь с такими параметрами email и/или именем существует.</div>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Ошибка в имени пользователя.</div>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Недопустимые символы пароля.</div>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Недопустимые символы электронной почты.</div>
            </div>
        </form>
    </div>
</body>
</html>